<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/adminlte/2.3.11/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/adminlte/2.3.11/dist/css/AdminLTE.css}"/>

    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>

<div class="wrapper" style="height:auto;min-height:100%;width:40%;margin-left:30%;">
<section class="content">
    <div class="row">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">로그인</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form action="#" th:action="@{/login}" th:object="${projectUser}" method="post" class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputId1" class="col-sm-2 control-label">ID</label>
                        <div class="col-sm-10">
                            <input type="text" th:placeholder="ID" id="inputId1" name="userId"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword1" class="col-sm-2 control-label">Password</label>

                        <div class="col-sm-10">
                            <input type="password" th:placeholder="Password" id="inputPassword1" name="userPw"/>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">로그인</button>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
    </div>
</section>
</div>

</body>

<script data-th-inline="javascript">
    var result = [[${result}]]
    if (result == 'false') {
        var resultMsg = [[${resultMsg}]]
        alert(resultMsg);
    }
</script>

</html>